w
<ion-view id="page3">


  <ion-content padding="false" class="has-header" style="background-image:url(img/background.jpg);">














    <div class="row">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Primi Piatti</p>
            </label>

          </div>

        </section>

      </div>
    </div>

    <div class="row" style="min-height:1200px">
      <div class="col col-100" style="">

        <section class="ac-container">
          <div></div>
          <div>

            <a ng-click="click(1)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Bucatini al sugo di coniglio</p>
              </label>
            </a>


            <div id="1" class="w3-modal" style="padding-top:10px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Bucatini al sugo di coniglio</b>
                  </p>
                  <p style="text-align:center; font-size:15px; color:#202020">
                    <b>Piatto re dell’isola verde</b>
                  </p>
                  </br>
                  <p style="color:#202020; text-align:justify">
                    <b>Piatto Festivo</b>
                  </p>
                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">Ingredienti </b>(per 4 persone): bucatini g 400, un coniglio, una testa d’aglio, 800 gr pomodorini ciliegine,
                    un rametto di rosmarino, prezzemolo, peperoncino, parmigiano grattugiato, mezzo litro di vino bianco,
                    olio extravergine d’oliva, sale</a>
                  </br>
                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">Preparazione</b>:Fatto a pezzi il coniglio metterlo in una casseruola piena di vino bianco e lasciato
                    a marinare in frigo per una notte.</br> Il giorno seguente prima della cottura, tirare fuori dal frigo
                    ed asciugarlo. Mettere sul fondo di una capiente teglia/tegame olio sufficiente a coprirne il bordo,
                    aggiungendo l’aglio. Il peperoncino e le spezie attaccate in un fascetto cosicchè dopo sarà più facile
                    eliminarle. Imbiondito l’aglio eliminarlo. Mettere ora a rosolare le parti del coniglio, aggiungere il mezzo litro 
                    di vino bianco e i pomodorini.
                    </br>A fine cottura, unire con la pasta.</br> Impiattate ed abbellite con foglie di basilico.</a>
                  </br>
                  </br>

                  <p ng-click="clickclose(1)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>

          </div>
          

          <div>

            <a ng-click="click(2)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spaghetti alle Cozze</p>
              </label>
            </a>


            <div id="2" class="w3-modal" style="padding-top:40px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spaghetti alle Cozze</b>
                  </p>
                  <p style="text-align:center; font-size:15px; color:#202020">
                    <b>Sapori del mare</b>
                  </p>
                  </br>
                  <p style="color:#202020; text-align:justify">
                    <b>Assapora le essenze dei nostri mari, riuniti in un solo piatto.</b>
                  </p>
                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">Ingredienti </b>(per 4 persone): - cozze (mitili) kg. 1, spaghetti gr. 400, prezzemolo gr. 50, due spicchi
                    di aglio, olio d'oliva, sale, pepe</a>
                  </br>
                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">Preparazione</b>:Lavare accuratamente le cozze e con una spazzola strofinarle energicamente per togliere
                    loro tutta la terra e le eventuali alghe.
                    <br>Porre a scaldare abbondante acqua salata che servirà per lessare la pasta. Tritare finemente il prezzemolo
                    e gli spicchi di aglio. Mettere in una padella le cozze, porla sul fuoco e scuoterla di tanto in tanto;
                    mano a mano che le cozze si aprono buttare la valva vuota e tenere a parte quella contenente il mollusco:
                    lavare queste ultime con acqua tiepida salata per togliere ogni più piccola parte di terra o sabbia e
                    tenerle in un colapasta a scolare. Versare in una tazza, filtrandolo, il liquido che si è formato nella
                    padella poi lasciarlo riposare affinchè l'eventuale sabbia si depositi.
                    <br> Metter nell'acqua in ebollizione gli spaghetti, mescolarli e cuocerli a fuoco vivace. Contemporaneamente
                    agli spaghetti porre sul fuoco una padella con un bicchiere di olio; appena soffrigge unire il prezzemolo
                    tritato e le cozze, mescolare, salare, pepare e unire l'acqua dei molluschi versandola lentamente e facendola
                    passare da un telo a trama fitta; mescolare e cuocere per circa cinque minuti.
                    <br> Quando gli spaghetti saranno cotti scolarli, unirli poi alle cozze con il loro sughetto, mescolare bene
                    e servirli subito.</a>
                  </br>
                  </br>

                  <p ng-click="clickclose(2)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>

          </div>

          <div>

            <a ng-click="click(3)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Pasta e spolichini</p>
              </label>
            </a>


            <div id="3" class="w3-modal" style="padding-top:80px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Pasta e spolichini</b>
                  </p>
                  <p style="text-align:center; font-size:15px; color:#202020">
                    <b>Sapori di casa</b>
                  </p>
                  </br>
                  <p style="color:#202020; text-align:justify">
                    <b>Un piatto casareccio tipico delle nostre terre.</b>
                  </p>
                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">Ingredienti </b>(per 4 persone):fagioli freschi kg. 1, pasta assortita gr. 250, pancetta (o lardo o grasso
                    di prosciutto crudo) gr. 100, olio d'oliva gr. 50, 10 pomodori, aglio, basilico, una costa di sedano,
                    peperoncino piccante, parmigiano grattugiato, sale</a>
                  </br>
                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">Preparazione</b>:Sgranare i fagioli, metterli in una pentola, coprirli con 2 litri di acqua fredda, poi
                    unire qualche foglia di basilico, il sedano ed uno spicchio di aglio, tutto quanto tritato, i pomodori
                    pelati o spezzetati, oppure passati al setaccio.</br> Incoperchiare e cuocere a fuoco lento per circa
                    un'ora dall'inizio dell'ebollizione; a metà cottura aggiungere la pancetta pestata, l'olio e peperoncino
                    piccante.
                    </br>
                    Ultimare la cottura dei fagioli poi unire la pasta e sale in misura giusta. </a>
                  </br>
                  </br>

                  <p ng-click="clickclose(3)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>

          </div>

          <a ng-click="click(4)" style="text-decoration:none">
            <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="">Pasta alla puttanesca</p>
            </label>
          </a>

          <div id="4" class="w3-modal" style="padding-top:150px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Pasta alla puttanesca</b>
                </p>
                <p style="text-align:center; font-size:15px; color:#202020">
                  <b>Antiche Tradizioni</b>
                </p>
                </br>
                <p style="color:#202020; text-align:justify">
                  <b>Uno di piatti più antichi della nostra cucina.</b>
                </p>
                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020">Ingredienti </b>(per 4 persone): pomodori da sugo gr. 500, spaghetti gr. 400, olio d'oliva gr. 100, olive
                  nere snocciolate gr. 100, acciughe sotto sale gr. 100, capperi sotto sale gr. 50, concentrato di pomodoro,
                  uno spicchio di aglio, un peperoncino rosso, sale</a>
                </br>
                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020">Preparazione</b>:Mettere sul fuoco una pentola con abbondante acqua non troppo salata; quando alzerà il
                  bollore buttarvi gli spaghetti. Lavare e diliscare le acciughe. </br>Porre in una casseruola di terracotta
                  l'olio, l'aglio e il peperoncino a pezzetti: fare soffriggere e quando l'aglio sarà ben scuro, unire le
                  acciughe e con una forchetta spappolarle bene. Aggiungere quindi i pomidori, pelati e spezzettati, le olive
                  snocciolate, i capperi ben lavati e due cucchiaini di concentrato di pomodoro. </br>Mescolare bene la salsa
                  e lasciarla sul fuoco fino a quando gli spaghetti saranno cotti; scolarli leggermente al dente e poi condirli.</a>
                </br>
                </br>

                <p ng-click="clickclose(4)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>

          <a ng-click="click(5)" style="text-decoration:none">
            <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="">Pennette all'ischitana</p>
            </label>
          </a>
          <div id="5" class="w3-modal" style="padding-top:210px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Pennette all'ischitana</b>
                </p>
                <p style="text-align:center; font-size:15px; color:#202020">
                  <b>Non semplici pennette</b>
                </p>
                </br>
                <p style="color:#202020; text-align:justify">
                  <b>Veloce. Gustoso. Storico.</b>
                </p>
                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020">Ingredienti </b>(per 4 persone):Tempo di preparazione 20 minuti
                  <br> 350 gr pennette, 10 olive taggiasche denocciolate in olio extra vergine d'oliva Premium, 1 cucchiaio abbondante
                  capperi al sale Premium, 6 pomodorini pachino, aglio, sale, prezzemolo, peperoncino, basilico</a>
                </br>
                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020">Preparazione</b>:Soffriggete per un minuto l'aglio con l'olio e successivamente aggiungete le acciughe,
                  i capperi sciacquati, le olive il prezzemolo e il basilico. Lasciate insaporire per circa due minuti e
                  aggiungete i pomodorini togliendo prima lo stelo poi schiacciateli col pollice e strizzateli leggermente
                  per togliere i semi. Cuocete per circa cinque minuti a tegame coperto. </br>
                  Dopo aver lessato le pennette fateli saltare nella salsa ed infine aggiungete il prezzemolo.</a>
                </br>
                </br>

                <p ng-click="clickclose(5)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>
          <a ng-click="click(6)" style="text-decoration:none">
            <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="">Panino Zingara all'Ischitana</p>
            </label>
          </a>
          <div id="6" class="w3-modal" style="padding-top:280px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Panino Zingara all'Ischitana</b>
                </p>
                <p style="text-align:center; font-size:15px; color:#202020">
                  <b>Il panino che non t'aspetti</b>
                </p>
                </br>
                <p style="color:#202020; text-align:justify">
                  <b>Goditi un sapore fresco e ricco di gusto</b>
                </p>
                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020">Ingredienti </b>2 fette di pane cafone, 100 g di fior di latte, 1 pomodoro da insalata, 3 – 4 fette di
                  prosciutto crudo, qualche foglia di insalata, maionese, sale, basilico.
                </a>
                </br>
                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020">Preparazione</b>: condire a piacimento il panino.</a>
                </br>
                </br>

                <p ng-click="clickclose(6)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>
         
      </div>
      </section>
    </div>
    </div>



  </ion-content>

  <ion-footer-bar style="height:70px !important; padding:0px; background-color:#b8b8b8; border-top: #b8b8b8; ">
    <ion-toolbar position="bottom" style="width:100%">


      <div class="row" style="width:100%; margin-left: 0px;">

        <div class="" style="width:20%">

          <a style="text-decoration:none" ui-sref="chiSiamo()">
            <img src="img/TabHome.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px;  font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/market.php">
            <img src="img/TabCondividi.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/fb.php?id=https://www.facebook.com/isolaverdetvlive/">
            <img src="img/TabFb.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.isolaverdetv.com/">
            <img src="img/news.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>

        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.youtube.com/channel/UC1okD-ICtq4eLNofLYHwY-w">
            <img src="img/youtube.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer-bar>
</ion-view>