<ion-view id="page3">
  <ion-content padding="false" class="has-header" style="background-image:url(img/background.jpg);">
    <div class="row">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Monumenti
                <br> Forio</p>
            </label>

          </div>

        </section>

      </div>
    </div>

    <div class="row" style="min-height:800px">
      <div class="col col-100" style="">
        <section class="ac-container">
          <div></div>
          <a ng-click="click(1)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">La Colombaia di Visconti</p>
              </label>
            </a>

          <div id="1" class="w3-modal" style="padding-top:30px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>La Colombaia di Visconti</b>
                </p>

                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b> Dimora estiva di Luchino Visconti. Regista e sceneggiatore italiano Nato a Milano il 2 Novembre 1906,
                  scomparso a Roma il 17 marzo 1976 Il venticinquesimo anniversario della scomparsa del grande Maestro Luchino
                  Visconti coincide con un risultato straordinariamente importante per la comunità di Forio: l'apertura al
                  pubblico della Villa La Colombaia, dimora del regista che ospiterà una Scuola Internazionale di Cinema
                  e di Teatro.
                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/museo-villa-la-colombaia" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(1)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>
          <a ng-click="click(2)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Villa Piromallo - Tenuta Calitto</p>
              </label>
            </a>

          <div id="2" class="w3-modal" style="padding-top:100px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Villa Piromallo - Tenuta Calitto</b>
                </p>

                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b>  

                  Via Provinciale Panza - 80075 Forio d'Ischia (NA)
                  
                  Costruita dal Marchese Piromallo Capece Piscicelli di Montebello. 
                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/villa-piromallo" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(2)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>


           <a ng-click="click(66)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Casa scavate nel tufo</p>
              </label>
            </a>

          <div id="66" class="w3-modal" style="padding-top:300px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Casa scavate nel tufo</b>
                </p>

                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b>  

                  CASE SCAVATE NELLE PIETRE DI TUFO 
                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/case-scavate" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(66)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>
 
          <a ng-click="click(55)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Torre Torrione</p>
              </label>
            </a>

          <div id="55" class="w3-modal" style="padding-top:350px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Torre Torrione</b>
                </p>

                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b>  

                  Torre di Guardia Torrione

Via Torrione - 80075 Forio (NA)  - Telefono 081981124

La Torre denominata il Torrione fu costruita nel 1480. 
                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/torre-torrione" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(55)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>
  
          <a ng-click="click(4)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Torre Nocera</p>
              </label>
            </a>

          <div id="4" class="w3-modal" style="padding-top:340px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Torre Nocera</b>
                </p>

                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b>  

                  Torre di Guardia Nacera

                  Via Monsignor F. Schioppa - 80075 Forio (NA)
                  
                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/torre-nacera" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(4)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>

          <a ng-click="click(5)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Torre di Guardia Quattrocchi</p>
              </label>
            </a>

          <div id="5" class="w3-modal" style="padding-top:450px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Torre di Guardia Quattrocchi</b>
                </p>

                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b>  

                  Torre di Guardia Quattrocchi

                  Via Matteo Verde - 80075 Forio (NA)
                  
                  
                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/torre-quattrocchi" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(5)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>

          <a ng-click="click(6)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Torre Torone</p>
              </label>
            </a>
          <div id="6" class="w3-modal" style="padding-top:600px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Torre Torone</b>
                  </p>
  
                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020"></b>  
  
                    Torre di Guardia Torone

Via degli Agrumi - 80077 Forio (NA)

                    
                    
                  </a>
                  </br>
                  </br>
                  <a class="w3-button3" href="https://ischia.org/monumenti/torre-torone" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>Maggiori Informazioni</b>
                  </a>
                  </br>
                  <p ng-click="clickclose(6)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>
         
            <a ng-click="click(7)" style="text-decoration:none">
                <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                  <p style="">Torre di Schiano</p>
                </label>
              </a>
            <div id="7" class="w3-modal" style="padding-top:600px">
                <div class="w3-modal-content" style="border-radius:6px">
                  <div class="w3-container">
                    </br>
                    <p style="text-align:center; font-size:22px; color:#202020">
                      <b>Torre di Schiano</b>
                    </p>
    
                    </br>
                    <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                      <b style="color:#202020"></b>  
    
                      Torre di Schiano
  
                      
                      
                    </a>
                    </br>
                    </br>
                    <a class="w3-button3" href="https://ischia.org/monumenti/" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                      <b>Maggiori Informazioni</b>
                    </a>
                    </br>
                    <p ng-click="clickclose(7)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                      <b>CHIUDI</b>
                    </p>
                    </br>
                  </div>
                </div>
              </div>

              <a ng-click="click(8)" style="text-decoration:none">
                  <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                    <p style="">Torre Casa Palatino</p>
                  </label>
                </a>
              <div id="8" class="w3-modal" style="padding-top:700px">
                  <div class="w3-modal-content" style="border-radius:6px">
                    <div class="w3-container">
                      </br>
                      <p style="text-align:center; font-size:22px; color:#202020">
                        <b>Torre Casa Palatino</b>
                      </p>
      
                      </br>
                      <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                        <b style="color:#202020"></b>  
      
                        Torre Casa Palatino
    
                        
                        
                      </a>
                      </br>
                      </br>
                      <a class="w3-button3" href="https://ischia.org/monumenti/" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                        <b>Maggiori Informazioni</b>
                      </a>
                      </br>
                      <p ng-click="clickclose(8)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                        <b>CHIUDI</b>
                      </p>
                      </br>
                    </div>
                  </div>
                </div>

                <a ng-click="click(9)" style="text-decoration:none">
                    <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                      <p style="">Torre Milione</p>
                    </label>
                  </a>
                <div id="9" class="w3-modal" style="padding-top:800px">
                    <div class="w3-modal-content" style="border-radius:6px">
                      <div class="w3-container">
                        </br>
                        <p style="text-align:center; font-size:22px; color:#202020">
                          <b>Torre Milione</b>
                        </p>
        
                        </br>
                        <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                          <b style="color:#202020"></b>  
        
                          Torre Milione
      
                          
                          
                        </a>
                        </br>
                        </br>
                        <a class="w3-button3" href="https://ischia.org/monumenti/" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                          <b>Maggiori Informazioni</b>
                        </a>
                        </br>
                        <p ng-click="clickclose(9)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                          <b>CHIUDI</b>
                        </p>
                        </br>
                      </div>
                    </div>
                  </div>

                  <a ng-click="click(10)" style="text-decoration:none">
                      <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                        <p style="">Torre Baiola</p>
                      </label>
                    </a>
                  <div id="10" class="w3-modal" style="padding-top:950px">
                      <div class="w3-modal-content" style="border-radius:6px">
                        <div class="w3-container">
                          </br>
                          <p style="text-align:center; font-size:22px; color:#202020">
                            <b>Torre Baiola</b>
                          </p>
          
                          </br>
                          <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                            <b style="color:#202020"></b>  
          
                            Torre Baiola
        
                            
                            
                          </a>
                          </br>
                          </br>
                          <a class="w3-button3" href="https://ischia.org/monumenti/" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                            <b>Maggiori Informazioni</b>
                          </a>
                          </br>
                          <p ng-click="clickclose(10)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                            <b>CHIUDI</b>
                          </p>
                          </br>
                        </div>
                      </div>
                    </div>

                    <a ng-click="click(11)" style="text-decoration:none">
                        <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                          <p style="">Torre di Panza</p>
                        </label>
                      </a>
                    <div id="11" class="w3-modal" style="padding-top:1000px">
                        <div class="w3-modal-content" style="border-radius:6px">
                          <div class="w3-container">
                            </br>
                            <p style="text-align:center; font-size:22px; color:#202020">
                              <b>Torre di Panza</b>
                            </p>
            
                            </br>
                            <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                              <b style="color:#202020"></b>  
            
                              Torre di Panza
          
                              
                              
                            </a>
                            </br>
                            </br>
                            <a class="w3-button3" href="https://ischia.org/monumenti/" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                              <b>Maggiori Informazioni</b>
                            </a>
                            </br>
                            <p ng-click="clickclose(11)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                              <b>CHIUDI</b>
                            </p>
                            </br>
                          </div>
                        </div>
                      </div>

                      <a ng-click="click(12)" style="text-decoration:none">
                          <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                            <p style="">Torre di via Morgera</p>
                          </label>
                        </a>
                      <div id="12" class="w3-modal" style="padding-top:1100px">
                          <div class="w3-modal-content" style="border-radius:6px">
                            <div class="w3-container">
                              </br>
                              <p style="text-align:center; font-size:22px; color:#202020">
                                <b>Torre di via Morgera</b>
                              </p>
              
                              </br>
                              <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                                <b style="color:#202020"></b>  
              
                                Torre di via Morgera
            
                                
                                
                              </a>
                              </br>
                              </br>
                              <a class="w3-button3" href="https://ischia.org/monumenti/" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                                <b>Maggiori Informazioni</b>
                              </a>
                              </br>
                              <p ng-click="clickclose(12)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                                <b>CHIUDI</b>
                              </p>
                              </br>
                            </div>
                          </div>
                        </div>
                        <a ng-click="click(13)" style="text-decoration:none">
                            <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                              <p style="">Torre Costantina</p>
                            </label>
                          </a>
                        <div id="13" class="w3-modal" style="padding-top:1200px">
                            <div class="w3-modal-content" style="border-radius:6px">
                              <div class="w3-container">
                                </br>
                                <p style="text-align:center; font-size:22px; color:#202020">
                                  <b>Torre Costantina</b>
                                </p>
                
                                </br>
                                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                                  <b style="color:#202020"></b>  
                
                                  Torre Costantina
              
                                  
                                  
                                </a>
                                </br>
                                </br>
                                <a class="w3-button3" href="https://ischia.org/monumenti/" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                                  <b>Maggiori Informazioni</b>
                                </a>
                                </br>
                                <p ng-click="clickclose(13)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                                  <b>CHIUDI</b>
                                </p>
                                </br>
                              </div>
                            </div>
                          </div>

                          <a ng-click="click(14)" style="text-decoration:none">
                              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                                <p style="">Torre Cigliano</p>
                              </label>
                            </a>
                          <div id="14" class="w3-modal" style="padding-top:1200px">
                              <div class="w3-modal-content" style="border-radius:6px">
                                <div class="w3-container">
                                  </br>
                                  <p style="text-align:center; font-size:22px; color:#202020">
                                    <b>Torre Cigliano</b>
                                  </p>
                  
                                  </br>
                                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                                    <b style="color:#202020"></b>  
                  
                                    Torre Cigliano
                
                                    
                                    
                                  </a>
                                  </br>
                                  </br>
                                  <a class="w3-button3" href="https://ischia.org/monumenti/" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                                    <b>Maggiori Informazioni</b>
                                  </a>
                                  </br>
                                  <p ng-click="clickclose(14)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                                    <b>CHIUDI</b>
                                  </p>
                                  </br>
                                </div>
                              </div>
                            </div>

                            <a ng-click="click(15)" style="text-decoration:none">
                                <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                                  <p style="">L'Aquila</p>
                                </label>
                              </a>
                            <div id="15" class="w3-modal" style="padding-top:1200px">
                                <div class="w3-modal-content" style="border-radius:6px">
                                  <div class="w3-container">
                                    </br>
                                    <p style="text-align:center; font-size:22px; color:#202020">
                                      <b>L'Aquila</b>
                                    </p>
                    
                                    </br>
                                    <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                                      <b style="color:#202020"></b>  
                    
                                      L'Aquila

Via Giovanni Mazzella - 80075 Forio (NA)

                  
                                      
                                      
                                    </a>
                                    </br>
                                    </br>
                                    <a class="w3-button3" href="https://ischia.org/monumenti/laquila" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                                      <b>Maggiori Informazioni</b>
                                    </a>
                                    </br>
                                    <p ng-click="clickclose(15)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                                      <b>CHIUDI</b>
                                    </p>
                                    </br>
                                  </div>
                                </div>
                              </div>

  
      </div>
      </section>
    </div>
    </div>


  </ion-content>

  <ion-footer-bar style="height:70px !important; padding:0px; background-color:#b8b8b8; border-top: #b8b8b8; ">
    <ion-toolbar position="bottom" style="width:100%">


      <div class="row" style="width:100%; margin-left: 0px;">

        <div class="" style="width:20%">

          <a style="text-decoration:none" ui-sref="chiSiamo()">
            <img src="img/TabHome.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px;  font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/market.php">
            <img src="img/TabCondividi.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/fb.php?id=https://www.facebook.com/isolaverdetvlive/">
            <img src="img/TabFb.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.isolaverdetv.com/">
            <img src="img/news.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>

        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.youtube.com/channel/UC1okD-ICtq4eLNofLYHwY-w">
            <img src="img/youtube.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer-bar>
</ion-view>