<ion-view id="page3">
  <ion-content padding="false" class="has-header" style="background-image:url(img/background.jpg);">




    <div class="row">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Monumenti
                <br> Casamicciola Terme</p>
            </label>

          </div>

        </section>

      </div>
    </div>

    <div class="row" style="min-height:800px">
      <div class="col col-100" style="">
        <section class="ac-container">
          <div></div>

          <a ng-click="click(1)" style="text-decoration:none">
            <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="">Osservatorio Geofisico</p>
            </label>
          </a>
          <div id="1" class="w3-modal" style="padding-top:30px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Osservatorio Geofisico</b>
                </p>

                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b>

                  Dopo il disastroso terremoto del 23 luglio 1883 fu istituito (1891) un Osservatorio Geosismico, che fosse destinato a compiere
                  non solo osservazioni geodinamiche ma anche tutte le osservazioni geofisiche che potevano essere di qualche
                  interesse per l'isola d'Ischia. Il terremoto del 1883 fu un evento decisivo per lo sviluppo della sismologia
                  in Italia; spinse il Governo a realizzare rapidamente l'Osservatorio di Casamicciola sulla collina della
                  Sentinella e ad organizzare su tutto il territorio nazionale un efficiente servizio sismico costituito
                  da una fitta rete di osservatori e di uffici telegrafici per la trasmissione dei dati ad un ente centrale,
                  che era l'Ufficio Centrale di Meteorologia e Geodinamica di Roma.



                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/osservatorio-geofisico" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(1)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>



          <a ng-click="click(2)" style="text-decoration:none">
            <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="">Pio Monte della Misericordia</p>
            </label>
          </a>
          <div id="2" class="w3-modal" style="padding-top:100px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Pio Monte della Misericordia</b>
                </p>

                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b>

                  Fu al principio del seicento che un gruppo di nobili napoletani si riunì per fondare una Confraternita, alla quale diede
                  il nome di Monte della Misericordia, destinata ad uno sviluppo senza paragone ed anche non poco importante
                  per la vita balneare dell'Isola d'Ischia. Secondo la tradizione un Pick-nick, organizzato nell'anno 1601
                  in un giardino di Posillipo, avrebbe dato il primo impulso alla sua fondazione: ciascun componente di una
                  compagnia di nobili doveva contribuire alla piccola festa campestre, ma il giorno stabilito pioveva a dirotto;
                  il giorno seguente era venerdì e i nobili, non volendo mangiare le pietanze di carne già preparate stabilirono
                  di portare tutto ai poveri dell'Ospedale degli Incurabili. Alcuni dei cavalieri vi andarono di persona
                  e furono talmente impressionati dalla gioia e dalla gratitudine di quei poveri ammalati, che decisero dì
                  ripetere la visita anche il venerdì successivo.

                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/pio-monte-della-misericordia" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(2)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>


          <a ng-click="click(3)" style="text-decoration:none">
            <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="">Museo Bellavista</p>
            </label>
          </a>
          <div id="3" class="w3-modal" style="padding-top:200px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Museo Bellavista</b>
                </p>

                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b>

                  Il Museo è realizzato in collaborazione con il Servizio Sismico Nazionale e rappresenta la prima struttura culturale pubblica
                  di Casamicciola dal 1883, quando la più antica cittadina termale dell’ isola d’ Ischia, fu distrutta dal
                  celebre terremoto che rappresentò la prima grande catastrofe dell’ Italia post-unitaria.Da qui il grande
                  interesse culturale e scientifico per quell’ evento al quale il Servizio Sismico Nazionale ha dedicato
                  una monumentale monografia consultabile nel Museo ed illustrata con una mostra.

                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/museo-della-bellavista" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(3)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>
      </div>
      </section>

    </div>
    </div>



  </ion-content>

  <ion-footer-bar style="height:70px !important; padding:0px; background-color:#b8b8b8; border-top: #b8b8b8; ">
    <ion-toolbar position="bottom" style="width:100%">


      <div class="row" style="width:100%; margin-left: 0px;">

        <div class="" style="width:20%">

          <a style="text-decoration:none" ui-sref="chiSiamo()">
            <img src="img/TabHome.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px;  font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/market.php">
            <img src="img/TabCondividi.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/fb.php?id=https://www.facebook.com/isolaverdetvlive/">
            <img src="img/TabFb.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.isolaverdetv.com/">
            <img src="img/news.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>

        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.youtube.com/channel/UC1okD-ICtq4eLNofLYHwY-w">
            <img src="img/youtube.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer-bar>
</ion-view>