<ion-view id="page3">
  <ion-content padding="false" class="has-header" style="background-image:url(img/background.jpg);">
    <div class="row">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Monumenti
                <br>ischia</p>
            </label>

          </div>

        </section>

      </div>
    </div>

    <div class="row" style="min-height:800px">
      <div class="col col-100" style="">
        <section class="ac-container">
          <div></div>
          <div>

            <a ng-click="click(1)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Castello Aragonese</p>
              </label>
            </a>


            <div id="1" class="w3-modal" style="padding-top:40px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Castello Aragonese</b>
                  </p>

                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020"></b>Il Castello Aragonese fu costruito da Gerone di Siracusa nel 474 a.C.; esso fu utilizzato quale fortezza
                    e rifugio sicuro per quanti vollero difendersi nei momenti di necessità e anche come vedetta per osservare
                    le mosse dei nemici. La storia ci narra che Gerone pretese il Castello come ricompensa per aver scacciato
                    i Tirreni dall'isola. Col tramonto di Gerone, la fortezza passò ai Romani. Dopo la caduta dell'Impero
                    Romano la fortezza sub! una serie di occupazioni fra le quali ricordiamo Visigoti, Vandali, Ostrogoti,
                    Arabi, Normanni, Svevi, Angioini e Aragonesi.</a>
                  </br>
                  </br>
                  <a class="w3-button3" href="https://ischia.org/monumenti/castello-aragonese" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>Maggiori Informazioni</b>
                  </a></br>
                  <p ng-click="clickclose(1)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>
          </div>

          <div>

            <a ng-click="click(4)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Acquedotto i Pilastr</p>
              </label>
            </a>


            <div id="4" class="w3-modal" style="padding-top:70px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Acquedotto i Pilastr</b>
                  </p>

                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020"></b> L'acquedotto "Pilastri" fu costruito nel XVII secolo per portare l'acqua della sorgente di Buceto
                    fin nel cuore del Borgo di Celsa, coprendo così il fabbisogno idrico degli abitanti della Città d'Ischia
                    (Ischia Ponte). Il cavalliere Orazio Tuttavilla fù mandato Governatore a Ischia nel 1580 col compito
                    di costruire l'acquedotto deciso dal vicerè Granvelle</a>
                  </br>
                  </br>
                  <a class="w3-button3" href="https://ischia.org/monumenti/acquedotto-pilastri" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>Maggiori Informazioni</b>
                  </a></br>
                  <p ng-click="clickclose(4)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>
          </div>
          <div>

            <a ng-click="click(5)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Palazzo Reale</p>
              </label>
            </a>


            <div id="5" class="w3-modal" style="padding-top:110px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Palazzo Reale</b>
                  </p>

                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020"></b> Il Palazzo Reale, costruito nel 1735 come villa privata, fu realizzato dal famoso medico ischitano
                    Francesco Buonocore (1689-1738) che accumulò immense ricchezze espletando la sua professione anche alla
                    corte di Spagna. La villa ospitò rè, principi e personaggi di chiara fama internazionale tra cui Letizia
                    Buonaparte, madre di Napoleone. Oggi ricordato anche come "casina reale" è tenuto dal Ministero degli
                    Interni che l'ha trasformato in Stabilimento Militare Termale. </a>
                  </br>
                  </br>
                  <a class="w3-button3" href="https://ischia.org/monumenti/palazzo-reale" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>Maggiori Informazioni</b>
                  </a></br>
                  <p ng-click="clickclose(5)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>
          </div>
          <div>

            <a ng-click="click(6)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Torre di Guevara</p>
              </label>
            </a>


            <div id="6" class="w3-modal" style="padding-top:160px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Torre di Guevara</b>
                  </p>

                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020"></b>Detta anche Torre di Michelangelo, palazzo cinquecentesco eretto dalla Famiglia Guevara duchi di
                    Bovino. L'edificio fù costruito tra la fine del 400 ed inizio 500 nel punto esatto dove potevano avere
                    la vista sul Castello e sulla loro tenuta di caccia, l'isola di Vivara. La famiglia Guevara non frequentò
                    più la torre dopo l'epidemia di peste soprattutto per la dissuasiva vicinanza con il vicino cimitero.
                    I Guevara di origine spagnola, vennero al seguito di Alfonfo d'Aragona alla conquista di Napoli ed ottennero
                    per i loro servigi il ducato di Bovino, presso Foggia. La leggenda narra che in questa Torre abbia soggiornato
                    per un certo periodo Michelangelo Buonarroti, legato da un amore platonico per Vittoria Colonna, rimasta
                    vedova nel </a>
                  </br>
                  </br>
                  <a class="w3-button3" href="https://ischia.org/monumenti/torre-di-guevara" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>Maggiori Informazioni</b>
                  </a>
                </br>
                  <p ng-click="clickclose(6)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>
          </div>
          <div>

              <a ng-click="click(7)" style="text-decoration:none">
                <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                  <p style="">Palazzo dell'Orologio</p>
                </label>
              </a>
  
  
              <div id="7" class="w3-modal" style="padding-top:190px">
                <div class="w3-modal-content" style="border-radius:6px">
                  <div class="w3-container">
                    </br>
                    <p style="text-align:center; font-size:22px; color:#202020">
                      <b>Palazzo dell'Orologio</b>
                    </p>
  
                    </br>
                    <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                      <b style="color:#202020"></b> Palazzo dell'orologio - Museo del Mare

                      Via Giovanni da Procida, 3 - 80077 Ischia (NA)  - Telefono 081981124
                      </a>
                    </br>
                    </br>
                    <a class="w3-button3" href="https://ischia.org/monumenti/palazzo-dell-orologio" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                      <b>Maggiori Informazioni</b>
                    </a>
                  </br>
                    <p ng-click="clickclose(7)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                      <b>CHIUDI</b>
                    </p>
                    </br>
                  </div>
                </div>
              </div>
            </div>
          
            <div>

                <a ng-click="click(8)" style="text-decoration:none">
                  <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                    <p style="">Casa di San Giovangiuseppe</p>
                  </label>
                </a>
    
    
                <div id="8" class="w3-modal" style="padding-top:280px">
                  
                  <div class="w3-modal-content" style="border-radius:6px">
                    <div class="w3-container">
                      </br>
                      <p style="text-align:center; font-size:22px; color:#202020">
                        <b>Casa di San Giovangiuseppe</b>
                      </p>
    
                      </br>
                      <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                        <b style="color:#202020"></b>  Casa di San Giovangiuseppe

                        Via Luigi Mazzella - 80077 Ischia (NA)
                        
                        </a>
                      </br>
                      </br>
                      <a class="w3-button3" href="https://ischia.org/monumenti/san-giovangiuseppe" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                        <b>Maggiori Informazioni</b>
                      </a>
                    </br>
                      <p ng-click="clickclose(8)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                        <b>CHIUDI</b>
                      </p>
                      </br>
                    </div>
                  </div>
                </div>
              </div>
       

              <div>

                  <a ng-click="click(9)" style="text-decoration:none">
                    <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                      <p style="">Villa Dohrn - Acquario</p>
                    </label>
                  </a>
      
      
                  <div id="9" class="w3-modal" style="padding-top:250px">
                    <div class="w3-modal-content" style="border-radius:6px">
                      <div class="w3-container">
                        </br>
                        <p style="text-align:center; font-size:22px; color:#202020">
                          <b>Villa Dohrn - Acquario</b>
                        </p>
      
                        </br>
                        <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                          <b style="color:#202020"></b>Stazione Zoologica Anton Dohrn comunemente chiamata Acquario.
                          Costruita tra il 1905 e il 1910 dal famoso zoologo marino Anton Dohrn, appasionato dei fondali marini dell'isola d'ischia che decise di costruirsi una casa sulla collina di San Pietro.
                          Il progetto firmato dall'architetto Carl Sattler che era genero di Adolf von Hilebrand compagno di Anton Dohrn.   
                          
                          </a>
                        </br>
                        </br>
                        <a class="w3-button3" href="https://ischia.org/monumenti/villa-dohrn" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                          <b>Maggiori Informazioni</b>
                        </a>
                      </br>
                        <p ng-click="clickclose(9)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                          <b>CHIUDI</b>
                        </p>
                        </br>
                      </div>
                    </div>
                  </div>
                </div>
       

        </section>
      </div>
    </div>



  </ion-content>

  <ion-footer-bar style="height:70px !important; padding:0px; background-color:#b8b8b8; border-top: #b8b8b8; ">
    <ion-toolbar position="bottom" style="width:100%">


      <div class="row" style="width:100%; margin-left: 0px;">

        <div class="" style="width:20%">

          <a style="text-decoration:none" ui-sref="chiSiamo()">
            <img src="img/TabHome.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px;  font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/market.php">
            <img src="img/TabCondividi.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/fb.php?id=https://www.facebook.com/isolaverdetvlive/">
            <img src="img/TabFb.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.isolaverdetv.com/">
            <img src="img/news.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>

        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.youtube.com/channel/UC1okD-ICtq4eLNofLYHwY-w">
            <img src="img/youtube.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer-bar>
</ion-view>