<ion-view id="page3">
<ion-content padding="false" class="has-header" style="background-image:url(img/background.jpg);">

<div class="row"><div class="col col-100">
  <section class="ac-container">
    <div>
       <input id="ac" name="accordion" type="radio" />
       <label  style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="text-align:center; font-size:25px">Monumenti <br>Lacco Ameno</p></label>
    
     </div>
      
   </section>

</div>
</div>

<div class="row" style="min-height:800px">
<div class="col col-100" style="">
  <section class="ac-container">
    <div></div>

    <a ng-click="click(2)" style="text-decoration:none">
        <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
          <p style="">Museo Villa Arbusto</p>
        </label>
      </a>
      <div id="2" class="w3-modal" style="padding-top:100px">
        <div class="w3-modal-content" style="border-radius:6px">
          <div class="w3-container">
            </br>
            <p style="text-align:center; font-size:22px; color:#202020">
              <b>Museo Villa Arbusto</b>
            </p>

            </br>
            <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
              <b style="color:#202020"></b>

              Fù costruita da Carlo d'Acquaviva, Duca d'Atri, nel 1785, sui luoghi di antichissimi insediamenti umani risalenti all'età neolitica e all'età del bronzo.

Fu in seguito adibita a piccolo albergo fino alla sua quasi totale distruzione a causa del terremoto del 1883.

Ricostruita e traformata molte volte, oggi mantiene l'aspetto delle ultime modifiche volute dal produttore cinematografico, Cav. Angelo Rizzoli, proprietario dal 1952. Negli anni 80 divenne poi patrimonio del Comune di Lacco Ameno.

Dal 1999 è stata aperta al pubblico come Museo.

            </a>
            </br>
            </br>
            <a class="w3-button3" href="https://ischia.org/monumenti/museo-villa-arbusto" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
              <b>Maggiori Informazioni</b>
            </a>
            </br>
            <p ng-click="clickclose(2)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
              <b>CHIUDI</b>
            </p>
            </br>
          </div>
        </div>
      </div>

        <a ng-click="click(4)" style="text-decoration:none">
            <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="">Torre Montevico</p>
            </label>
          </a>
          <div id="4" class="w3-modal" style="padding-top:180px">
            <div class="w3-modal-content" style="border-radius:6px">
              <div class="w3-container">
                </br>
                <p style="text-align:center; font-size:22px; color:#202020">
                  <b>Torre Montevico</b>
                </p>
    
                </br>
                <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                  <b style="color:#202020"></b>
    
                  Torre Montevico
  
                  Via Nuova Montevico - 80076 Lacco Ameno (NA)
                  
    
                </a>
                </br>
                </br>
                <a class="w3-button3" href="https://ischia.org/monumenti/torre-montevico" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>Maggiori Informazioni</b>
                </a>
                </br>
                <p ng-click="clickclose(4)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                  <b>CHIUDI</b>
                </p>
                </br>
              </div>
            </div>
          </div>


          <a ng-click="click(5)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Torre del Municipio</p>
              </label>
            </a>
            <div id="5" class="w3-modal" style="padding-top:230px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Torre del Municipio</b>
                  </p>
      
                  </br>
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020"></b>
      
                    Torre del Municipio
                    
      
                  </a>
                  </br>
                  </br>
                  <a class="w3-button3" href="https://ischia.org/monumenti/" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>Maggiori Informazioni</b>
                  </a>
                  </br>
                  <p ng-click="clickclose(5)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>
  
            <a ng-click="click(5)" style="text-decoration:none">
                <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                  <p style="">Il Fungo</p>
                </label>
              </a>
              <div id="5" class="w3-modal" style="padding-top:300px">
                <div class="w3-modal-content" style="border-radius:6px">
                  <div class="w3-container">
                    </br>
                    <p style="text-align:center; font-size:22px; color:#202020">
                      <b>Il Fungo</b>
                    </p>
        
                    </br>
                    <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                      <b style="color:#202020"></b>
        
                      Il Fungo
                      
        
                    </a>
                    </br>
                    </br>
                    <a class="w3-button3" href="https://ischia.org/monumenti/fungo" style="margin-left:auto; margin-right: auto; display:block;background:; text-align:center; padding:5px; border-radius:4px; color:white;">
                      <b>Maggiori Informazioni</b>
                    </a>
                    </br>
                    <p ng-click="clickclose(5)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                      <b>CHIUDI</b>
                    </p>
                    </br>
                  </div>
                </div>
              </div>

   
  </div>
  </section>
</div>
</div>
  
  

 </ion-content>

<ion-footer-bar style="height:70px !important; padding:0px; background-color:#b8b8b8; border-top: #b8b8b8; ">
        <ion-toolbar position="bottom" style="width:100%" >
          
             
      <div class="row" style="width:100%; margin-left: 0px;">
      
   <div class="" style="width:20%">
          
      <a style="text-decoration:none" ui-sref="chiSiamo()"><img src="img/TabHome.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
        <p style="text-align:center; padding-top:4px;  font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">
        
          
          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/market.php" > <img src="img/TabCondividi.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
        <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">
        
          
          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/fb.php?id=https://www.facebook.com/isolaverdetvlive/"><img src="img/TabFb.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
        <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">
          
          <a style="text-decoration:none"  href="https://www.isolaverdetv.com/"><img src="img/news.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
        <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        
        <div class="" style="width:20%">
          
            <a style="text-decoration:none"  href="https://www.youtube.com/channel/UC1okD-ICtq4eLNofLYHwY-w"><img src="img/youtube.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
          </div>
        </div>
        </ion-toolbar>
      </ion-footer-bar>
</ion-view>


