<ion-view title="Contatti" id="page9">
  <ion-content padding="true" class="has-header">

 <p class="text_contact"><b style="font-size:24px;text-align:center !important;">Avis Sez. comunale di   Nicosia</b>
   <br><br>
Vicolo del mercato,8
<br>
94014  NICOSIA(EN)
<br><br>
<b>tel/fax: </b><a ng-href="tel:0935630044" style="text-decoration:none;"> (+39)0935.630044</a>
<br><br>
<b>e-mail: </b><a ng-href="mailto:avis.nicosia@virgilio.it" style="text-decoration:none;">avis.nicosia@virgilio.it</a>
<br><br>
<b>GURGONE Paolo</b>
<br>
<b>cel: </b><a ng-href="tel:3383990716" style="text-decoration:none;"> (+39)338.3990716<br></a>
<b>e-mail: </b><a ng-href="mailto:paologurgone@tiscali.it" style="text-decoration:none;">paologurgone@tiscali.it</a>
<br><br>
<b>FISCELLA Antonino</b><br>
<b>cel: </b><a ng-href="tel:3391936883" style="text-decoration:none;"> (+39)339.1936883<br></a>
<b>e-mail: </b><a ng-href="mailto:fiscer58@gmail.com" style="text-decoration:none;">fiscer58@gmail.com</a>
<br><br>
<b>PEC: </b><a ng-href="mailto:avisnicosia@pec.it" style="text-decoration:none;">avisnicosia@pec.it</a>
</p>
<img class="img-responsive" src="img/logo_avis_nicosia.png">

  </ion-content>
</ion-view>
