<ion-view id="page3">
  <ion-content padding="false" class="has-header" style="background-image:url(img/background.jpg);">

  
  
  <div class="row"><div class="col col-100">
    <section class="ac-container">
      <div>
         <input id="ac" name="accordion" type="radio" />
         <label  style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="text-align:center; font-size:25px">Farmacie</p></label>
       </div> 
     </section>
  </div>
  </div>
  <div class="row">
  <div class="col col-100" style="">
     <section class="ac-container">
         


<label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Migliaccio</p>
<p style="font-size:14px;">Corso Umberto I - 80075 Forio (NA)</p>
<p style="font-size:14px;">Telefono <a href="tel:+39081989355" style="text-decoration:none; color: blue; font-size:18px"> 081989355</a></p>
<p style="font-size:14px;">Telefono <a href="tel:+39081989355" style="text-decoration:none; color: blue; font-size:18px"> 081989355</a></p>
</label>
<label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Lobosco</p>
  <p style="font-size:14px;">Monterone - 80075 Forio (NA) </p>
  <p style="font-size:14px;">Telefono <a href="tel:+390815071489" style="text-decoration:none; color: blue; font-size:18px"> 0815071489</a></p>

  </label>
  <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia San Leonardo</p>
    <p style="font-size:14px;">Panza - 80075 Forio (NA) </p>
    <p style="font-size:14px;">Telefono <a href="tel:+39081907064" style="text-decoration:none; color: blue; font-size:18px"> 081907064</a></p>
    </label>
    <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Internazionale</p>
      <p style="font-size:14px;">Via Alfredo De Luca - 80077 Ischia (NA) </p>
      <p style="font-size:14px;">Telefono <a href="tel:+390813331275" style="text-decoration:none; color: blue; font-size:18px"> 0813331275</a></p>
      </label>
      <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Mirabella</p>
        <p style="font-size:14px;">Via Luigi Mazzella - 80077 Ischia (NA)</p>
        <p style="font-size:14px;">Telefono <a href="tel:+39081991237" style="text-decoration:none; color: blue; font-size:18px"> 081991237</a></p>
      </label>
      <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Sant'Anna</p>
        <p style="font-size:14px;">Via Michele Mazzella - 80077 Ischia (NA) </p>
        <p style="font-size:14px;">Telefono <a href="tel:+39081985089" style="text-decoration:none; color: blue; font-size:18px">  081985089</a></p>
        </label>
        <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Costabile</p>
          <p style="font-size:14px;">Via Acquedotto - 80077 Ischia (NA) </p>
          <p style="font-size:14px;">Telefono <a href="tel:+39081902634" style="text-decoration:none; color: blue; font-size:18px">  081902634</a></p>
          </label>
          <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia De Luise</p>
            <p style="font-size:14px;">Piazza Marina - 80074 Casamicciola Terme (NA) </p>
            <p style="font-size:14px;">Telefono <a href="tel:+39081994060" style="text-decoration:none; color: blue; font-size:18px">  081994060</a></p>
            </label>
            <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Macchiarulo Pasquale</p>
              <p style="font-size:14px;">Perrone - 80074 Casamicciola Terme (NA) </p>
              <p style="font-size:14px;">Telefono <a href="tel:+39081996679" style="text-decoration:none; color: blue; font-size:18px">  081996679</a></p>
              </label>
              <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Cantone</p>
                <p style="font-size:14px;">Corso Angelo Rizzoli - 80076 Lacco Ameno (NA) </p>
                <p style="font-size:14px;">Telefono <a href="tel:+39081900224" style="text-decoration:none; color: blue; font-size:18px">  081900224</a></p>
                </label>
                <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Della Fonte</p>
                  <p style="font-size:14px;">Piazza P. Iacono - 80070 Serrara Fontana (NA) </p>
                  <p style="font-size:14px;">Telefono <a href="tel:+39081999320" style="text-decoration:none; color: blue; font-size:18px">  081999320</a></p>
                  </label>
                  <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Sant'Angelo</p>
                    <p style="font-size:14px;">Via Chiaia delle Rose, 10 - 80070 Serrara Fontana (NA)  </p>
                    <p style="font-size:14px;">Telefono <a href="tel:+39081999973" style="text-decoration:none; color: blue; font-size:18px">  081999973</a></p>
                    </label>
                    <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Garofalo</p>
                      <p style="font-size:14px;">Piazza San Rocco - 80070 Barano (NA)  </p>
                      <p style="font-size:14px;">Telefono <a href="tel:+39081990012" style="text-decoration:none; color: blue; font-size:18px">  081990012</a></p>
                      </label>
                      <label for="ac-{{field.num}}" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; "><p style="margin-left:; font-size:21px">Farmacia Isolaverde</p>
                        <p style="font-size:14px;">Via Vincenzo Di Meglio - 80070 Barano (NA) </p>
                        <p style="font-size:14px;">Telefono <a href="tel:+39081906516" style="text-decoration:none; color: blue; font-size:18px">  081906516</a></p>
                        </label>
                   </div>
                </section>
  </div>
  </div>
 
   </ion-content>
  <ion-footer-bar style="height:70px !important; padding:0px; background-color:#b8b8b8; border-top: #b8b8b8; ">
          <ion-toolbar position="bottom" style="width:100%" >
            
               
        <div class="row" style="width:100%; margin-left: 0px;">
        
     <div class="" style="width:20%">
            
        <a style="text-decoration:none" ui-sref="chiSiamo()"><img src="img/TabHome.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
          <p style="text-align:center; padding-top:4px;  font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
          </div>
          <div class="" style="width:20%">
          
            
            <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/market.php" > <img src="img/TabCondividi.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
          </div>
          <div class="" style="width:20%">
          
            
            <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/fb.php?id=https://www.facebook.com/isolaverdetvlive/"><img src="img/TabFb.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
          </div>
          <div class="" style="width:20%">
            
            <a style="text-decoration:none"  href="https://www.isolaverdetv.com/"><img src="img/news.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
          </div>
          
          <div class="" style="width:20%">
            
              <a style="text-decoration:none"  href="https://www.youtube.com/channel/UC1okD-ICtq4eLNofLYHwY-w"><img src="img/youtube.png" style="width:55px; display:block; margin-left:auto; margin-right:auto"></a>
            <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
            </div>
          </div>
          </ion-toolbar>
        </ion-footer-bar>
  </ion-view>
  
  
  