<ion-view id="page3">
  <ion-content padding="false" class="has-header" style="background-image:url(img/background.jpg);">
    <div class="row">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Spiagge - ischia</p>
            </label>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col col-100" style="">
        <section class="ac-container">
          <div>
            <a ng-click="click(1)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia degli Inglesi</p>
              </label>
            </a>
            <div id="1" class="w3-modal" style="padding-top:20px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia degli Inglesi</b>
                  </p>

                  </br>
                  <img src="img/spiaggiainglesi.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">

                      A meno di un chilometro dal porto d’Ischia, in fondo al bellissimo borgo di Sant’Alessandro, la spiaggia degli Inglesi suggerisce,
                      al pari della contrada, un’idea di separatezza, di rifugio fuori dal tempo.

                    </b>
                  </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(1)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>
          </div>
          <div>

            <a ng-click="click(2)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia di San Pietro</p>
              </label>
            </a>
            <div id="2" class="w3-modal" style="padding-top:20px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia di San Pietro</b>
                  </p>

                  </br>
                  <img src="img/spiaggiasanpietro.png" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">

                      La spiaggia di San pietro è situata a circa 150 metri dalla Piazzetta, storico luogo di ritrovo isolano. Inizia dal porto
                      e termina quasi ad Ischia Ponte (Spiaggia dei Pescatori), dove prende il nome di Lido d'Ischia.

                    </b>
                  </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(2)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>

          </div>
          <div>
            <a ng-click="click(3)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia del Lido</p>
              </label>
            </a>
            <div id="3" class="w3-modal" style="padding-top:20px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia del Lido</b>
                  </p>

                  </br>
                  <img src="img/spiaggialidoischia.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">

                      Il Lido d’Ischia è situato a 150 metri dalla Piazzetta, storico luogo di ritrovo isolano, ma in realtà abbraccia buona parte
                      di Ischia Porto, nonostante una lunga erosione che, nel corso degli anni, ne ha profondamente minato
                      l’estensione, ma non il fascino

                    </b>
                  </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(3)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>


          </div>
          <div>
            <a ng-click="click(4)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia dei Pescatori</p>
              </label>
            </a>
            <div id="4" class="w3-modal" style="padding-top:20px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia dei Pescatori</b>
                  </p>

                  </br>
                  <img src="img/spiaggiapescatori.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">

                      La Spiaggia dei Pescatori è situata a ridosso di Ischia Porto, a circa 200 metri dall'ingresso dell'antico Borgo di Ischia
                      Ponte, lungo un tratto di costa un tempo ad uso esclusivo dei soli pescatori (da cui il nome).
                    </b>
                  </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(4)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>

          </div>
          <div>
            <a ng-click="click(5)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia di Cartaromana</p>
              </label>
            </a>
            <div id="5" class="w3-modal" style="padding-top:20px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia di Cartaromana</b>
                  </p>

                  </br>
                  <img src="http://lozioconsiglia.altervista.org/clienti/spiaggecartaromana.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">
                      Un percorso molto seducente per chi si trova ad Ischia è l’itinerario che porta alla spiaggia di Cartaromana, con le sue
                      polle di acqua calda termale con vista sul castello Aragonese. Il cammino si snoda attraverso strade
                      molto panoramiche, aranceti e giardini di rose, nella zona più ad est del comune di Ischia. </b>
                  </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(5)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>
    </div>


    <div class="row" style="">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Spiagge - Casamicciola Terme</p>
            </label>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col col-100" style="">
        <section class="ac-container">
          <div>
            <a ng-click="click(6)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia Suor Angela</p>
              </label>
            </a>
            <div id="6" class="w3-modal" style="padding-top:680px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia Suor Angela</b>
                  </p>

                  </br>
                  <img src="http://lozioconsiglia.altervista.org/clienti/spiaggecartaromana.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">
                      La Spiaggia della Marina, facilmente accessibile e sabbiosa, si trova nei pressi del porto di Casamicciola Terme. La spiaggia
                      della Marina, adatta ai bambini perché il mare aumenta di profondità gradualmente, è dotata di stabilimenti
                      e di sufficiente tratto di spiaggia libera. </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(6)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>


          </div>
          <div>
            <a ng-click="click(7)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia Bagnitiello</p>
              </label>
            </a>
            <div id="7" class="w3-modal" style="padding-top:750px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia Bagnitiello</b>
                  </p>

                  </br>
                  <img src="http://lozioconsiglia.altervista.org/clienti/spiaggebagnitello.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">
                      La spiaggia dei Bagnitielli con rinomato centro balneare e termale, è situata in una zona con sorgenti naturali, particolarmente
                      ricche di sostanze attive, prospicienti la riva. La spiaggia, solo in piccola parte libera e ghiaiosa.
                  </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(7)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>


          </div>

        </section>
      </div>
    </div>

    <div class="row">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Spiagge - Barano</p>
            </label>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col col-100" style="">
        <section class="ac-container">
          <div>
            <a ng-click="click(8)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia Maronti</p>
              </label>
            </a>
            <div id="8" class="w3-modal" style="padding-top:1020px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia Maronti</b>
                  </p>

                  </br>
                  <img src="http://lozioconsiglia.altervista.org/clienti/spiaggemaronti.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">
                      Circondata da maestose colline le cui rupi, a declivio sul mare, nascondono l’entrate di bui anfratti che, ad Ischia, sono
                      conosciuti col termine “cave”, sede spesso di potenti sorgenti di acque termali come quella della “Cava
                      Scura”, vi è una delle più belle spiagge d’Italia, denominata per l’appunto Spiaggia dei Maronti.
                  </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(8)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>

          </div>

        </section>
      </div>
    </div>

    <div class="row">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Spiagge - Lacco Ameno</p>
            </label>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col col-100" style="">
        <section class="ac-container">
          <div>

            <a ng-click="click(9)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia San montano</p>
              </label>
            </a>
            <div id="9" class="w3-modal" style="padding-top:1300px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia San montano</b>
                  </p>

                  </br>
                  <img src="http://lozioconsiglia.altervista.org/clienti/spiaggemontano.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">
                      La spiaggia di San Montano si trova in un’insenatura dove la leggenda vuole che una dei Santi Patroni dell’isola, Santa Restituta,
                      sia sbarcata lì proveniente dall’Africa. Caratteristiche di questa caletta sono la sabbia fine, fondali
                      bassi e acqua limpida. Dotata di parcheggio, stabilimento balneare attrezzato, attrezzature per sport
                      acquatici.
                  </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(9)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>


          </div>

        </section>
      </div>
    </div>
    <div class="row">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Spiagge - Forio</p>
            </label>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col col-100" style="">
        <section class="ac-container">
          <div>

            <a ng-click="click(10)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia San francesco</p>
              </label>
            </a>
            <div id="10" class="w3-modal" style="padding-top:1580px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia San francesco</b>
                  </p>

                  </br>
                  <img src="http://lozioconsiglia.altervista.org/clienti/spiaggefrancesco.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">
                      La spiaggia di San Francesco di Paola è l’alternativa ideale alla più popolare spiaggia della Chiaia. Non che la spiaggia
                      di San Francesco sia poco affollata, soltanto che la clientela è diversa, soprattutto per via della
                      presenza in zona di strutture ricettive di ottimo livello.</a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(10)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>



          </div>
          <div>

            <a ng-click="click(11)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia Cava dell'Isola</p>
              </label>
            </a>
            <div id="11" class="w3-modal" style="padding-top:1620px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia Cava dell'Isola</b>
                  </p>

                  </br>
                  <img src="http://lozioconsiglia.altervista.org/clienti/spiaggecava.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">
                      Spiaggia giovane e sportiva, a poche centinaia di metri dalla più rinomata Citara, Cava dell'Isola è l'unico arenile interamente
                      libero dell'isola d'Ischia. La felice esposizione a ovest fa sì che il sole sia il migliore alleato
                      di questo tratto di costa. </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(11)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>


          </div>
          <div>

            <a ng-click="click(12)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia Citara</p>
              </label>
            </a>
            <div id="12" class="w3-modal" style="padding-top:1660px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia Citara</b>
                  </p>

                  </br>
                  <img src="http://lozioconsiglia.altervista.org/clienti/spiaggecitara.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">
                      Ci sono posti il cui fascino letterario rinforza positivamente la fama turistica. Senza dubbio Citara è uno di questi, incrocio
                      di fatti mitici e di una natura generosa che ha regalato agli ischitani una sorgente termale che sgorga
                      sin quasi sul bagnasciuga a temperature altissime. </a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(12)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>


          </div>
          <div>


            <a ng-click="click(13)" style="text-decoration:none">
              <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                <p style="">Spiaggia Baia di Sorgeto</p>
              </label>
            </a>
            <div id="13" class="w3-modal" style="padding-top:1700px">
              <div class="w3-modal-content" style="border-radius:6px">
                <div class="w3-container">
                  </br>
                  <p style="text-align:center; font-size:22px; color:#202020">
                    <b>Spiaggia Baia di Sorgeto</b>
                  </p>

                  </br>
                  <img src="http://lozioconsiglia.altervista.org/clienti/spiaggesorgeto.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                  <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                    <b style="color:#202020">
                        Sorgeto è un’insenatura naturale situata nel versante sud-occidentale dell’isola d’Ischia, in località Panza (Forio). È raggiungibile sia da terra, al termine di una strada di circa 1 km, percorribile anche in auto, che da mare, con il servizio taxiboat da Sant’Angelo. Questa seconda opzione è sicuramente preferibile per chi ha problemi di tenuta fisica.</a>
                  </br>
                  </br>

                  </br>
                  <p ng-click="clickclose(13)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                    <b>CHIUDI</b>
                  </p>
                  </br>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col col-100">
        <section class="ac-container">
          <div>
            <input id="ac" name="accordion" type="radio" />
            <label style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
              <p style="text-align:center; font-size:25px">Spiagge - Barano</p>
            </label>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col col-100" style="">
        <section class="ac-container">
          <div>

              <a ng-click="click(14)" style="text-decoration:none">
                  <label for="ac-1" style="padding-left:10px; padding-right:10px; padding-top:20px; padding-bottom:20px; ">
                    <p style="">Spiaggia Sant'Angelo</p>
                  </label>
                </a>
                <div id="14" class="w3-modal" style="padding-top:1900px">
                  <div class="w3-modal-content" style="border-radius:6px">
                    <div class="w3-container">
                      </br>
                      <p style="text-align:center; font-size:22px; color:#202020">
                        <b>Spiaggia Sant'Angelo</b>
                      </p>
    
                      </br>
                      <img src="http://lozioconsiglia.altervista.org/clienti/spiaggeangelo.jpg" style="width:80%; margin-left:auto; margin-right:auto; display:block">
                      <a style="color:#202020; text-align:justify; font-size:12px; text-decoration:none; color:blue">
                        <b style="color:#202020">
                            Sant’Angelo è molte cose: la piazzetta; il porticciolo turistico; le case abbarbicate sulla parte alta del paese; le boutique; i ristoranti; la piccola chiesa di San Michele; la spettacolare processione via mare in onore del santo e tanto, tanto altro ancora.</a>
                      </br>
                      </br>
    
                      </br>
                      <p ng-click="clickclose(14)" class="w3-button2" style="margin-left:auto; margin-right: auto; display:block;background: ; text-align:center; padding:5px; border-radius:4px; color:white;">
                        <b>CHIUDI</b>
                      </p>
                      </br>
                    </div>
                  </div>
                </div>

          </div>
        </section>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar style="height:70px !important; padding:0px; background-color:#b8b8b8; border-top: #b8b8b8; ">
    <ion-toolbar position="bottom" style="width:100%">


      <div class="row" style="width:100%; margin-left: 0px;">

        <div class="" style="width:20%">

          <a style="text-decoration:none" ui-sref="chiSiamo()">
            <img src="img/TabHome.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px;  font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/market.php">
            <img src="img/TabCondividi.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">


          <a style="text-decoration:none" href="http://lozioconsiglia.altervista.org/fb.php?id=https://www.facebook.com/isolaverdetvlive/">
            <img src="img/TabFb.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.isolaverdetv.com/">
            <img src="img/news.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>

        <div class="" style="width:20%">

          <a style="text-decoration:none" href="https://www.youtube.com/channel/UC1okD-ICtq4eLNofLYHwY-w">
            <img src="img/youtube.png" style="width:55px; display:block; margin-left:auto; margin-right:auto">
          </a>
          <p style="text-align:center; padding-top:4px; font-family: 'Palatino Linotype';  font-size: 14px; font-weight:bold; text-shadow: 2px 2px 8px #413201; color:#fff"></p>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer-bar>
</ion-view>